    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>&copy; 20{{ site.time | date: '%y' }} {{ site.footer }}</p>
            <p>
                {% if page.url == "/" %}
                <a href="https://github.com/p1m-ortho/p1m.github.io/commits/main/">Changelog</a>
                {% else %}
                <a href="https://github.com/p1m-ortho/p1m.github.io/commits/main{{ page.path | relative_url }}">Changelog</a>
                {% endif %}
            </p>
        </div>
    </footer>
