    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="album py-5 bg-light">
            <div class="row">
                <h2>Active Projects</h2>
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Jouyou Matrix Feature" style="display: block; height: 200px; width: 300px; object-fit: contain; margin: 20px auto;" src="/img/matrixjouyou-feature.png" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Matrix Jouyou NFT Collection</h5>
                        <p class="card-text">Everyone has their Character in a beautiful Matrix made of 2,136 Jouyou and certain Hyougai kanji, with their own vibrant Rarity, Complexity, Sentiment, and Popularity.</p>
                        <a href="/matrixjouyou/" class="btn btn-primary stretched-link">Read litepaper</a>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Zheln Logo" style="display: block; height: 200px; width: 300px; object-fit: contain; margin: 20px auto;" src="/img/zheln-logo.png" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Zheln as Service</h5>
                        <p class="card-text">Retrieving records from PubMed using the published Zheln methodology, then selecting and appraising the records that could be of interest to the commissioner, and, finally, selling summaries to them.</p>
                        <a href="https://zheln.com" class="btn btn-primary stretched-link">Access platform</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="OSF Banner" style="display: block; height: 200px; width: 300px; object-fit: contain; margin: 20px auto;" src="/img/osf_white.png" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">P1M.ORG @ OSF</h5>
                        <p class="card-text">A portfolio of research projects featuring P1M.ORG @ Open Science Framework (OSF).</p>
                        <a href="https://github.com/p1m-ortho/xw-p1m-org-osf-projects" class="btn btn-primary stretched-link">View on GitHub</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row content-section">
                <h2>Archived Projects</h2>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="JavaScript Logo" style="display: block; height: 200px; width: 300px; object-fit: contain; margin: 20px auto;" src="/img/JavaScript-logo.png" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">Sebzer</h5>
                        <p class="card-text">A Tampermonkey JS script that provides citation export support for eLIBRARY.RU (Russian Science Citation Index), a free-to-use bibliographic database of academic publications in Russian.</p>
                        <a href="https://github.com/p1m-ortho/xs-sebzer" class="btn btn-primary stretched-link">Download on GitHub</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row content-section"></div>
        </div>
    </section>