    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="album py-5 bg-light">
            <div class="row">
                <h2>Active Projects</h2>
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Jouyou Matrix Feature" style="height: 200px; width: 50%; margin-left: auto; margin-right: auto; display: block;" src="/img/matrixjouyou-feature.png" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Everyone has their Character in a beautiful Matrix made of 2,136 Jouyou and 4 Hyougai kanji, with their own vibrant Rarity, Complexity, and Sentiment.</p>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Zheln Logo" style="height: 200px; width: 50%; margin-left: auto; margin-right: auto; display: block;" src="/img/zheln-logo.png" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Retrieving records from PubMed using the <a href="https://doi.org/10.31222/osf.io/y2nrb">published Zheln methodology</a>, then selecting and appraising the records that could be of interest to the commissioner, and, finally, selling summaries to them.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="OSF Banner" style="height: 200px; width: 50%; margin-left: auto; margin-right: auto; display: block;" src="/img/osf-banner.png" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">A <a href="https://github.com/p1m-ortho/xw-p1m-org-osf-projects">portfolio of projects</a> featuring P1M.ORG @ Open Science Framework (OSF).</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>