<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <div class="container" style="margin-top: 100px;" id="matrixjouyou">
        <section class="row">
            <h1>{{ page.title }}</h1>
            <div class="col-md-5 col-lg-3">
              <img src="/img/matrixjouyou-genesis-2140-tiles-web.png" alt="Jouyou Matrix Genesis 2,140 Tiles">
            </div>
            <div class="col-md-7 col-lg-9">
              <blockquote>
                <p><strong>Note to Owners:</strong> Matrix Jouyou NFT holders will receive exclusive access to learning resources dedicated to the kanji characters they own. These resources will feature the history of the particular kanji and the most popular words or phrases containing it that are in use today, with specific focus on uniting various meanings and readings into one logical narrative.</p>
                
                <p>The roll-outs will start once a milestone of >20 token holders is reached and will prioritize older holders. Follow this page for release updates.</p>
              </blockquote>
            </div>
        </section>
        <section>
            {{ content }}
        </section>
    </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
